.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
  background-color: #23272f;
  color: #f6f7f9;
}

.pagination.light .pageNumber,
.pagination.light .arrow {
  background-color: #fff;
  color: #000;
}

.pageNumber {
  padding: 4px 8px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}

.pageNumber:hover,
.arrow:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.pageNumber:disabled,
.arrow:disabled {
  cursor: disabled;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}
