* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

.container {
  padding: 0 24px;
  max-width: 1280px;
  margin: 0 auto;
}
