.slider {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
}

.slider.dark .arrow {
  background-color: #23272f;
  color: white;
}

.slider.light .arrow {
  background-color: white;
  color: black;
}
