name: CI-CD-Pipeline-to-AWS-ElasticBeanstalk
env:
  EB_PACKAGE_S3_BUCKET_NAME: "adv-react-application-actions"
  EB_APPLICATION_NAME      : "MyReactNewsD"
  EB_ENVIRONMENT_NAME      : "MyReactNewsD-env"
  DEPLOY_PACKAGE_NAME      : "react_app_${{ github.sha }}.zip"
  AWS_REGION_NAME          : "us-east-2"

on: 
  push:
    branches:
      - master
      

jobs: 
  my_ci_part:
    runs-on: ubuntu-latest

    steps:
      - name: Git clone our repo
        uses: actions/checkout@v1

      - name: Create ZIP deployment package 
        run: zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ -x *.git*

      
    
